{{#ember-wormhole to="dynamic-dropdown" renderInPlace=showItem}}
<div class="item-wrapper">
  {{yield}}
</div>
{{/ember-wormhole}}
{{!-- this way when we change input's value by JQuery, the change will be handled and propagated by Ember... --}}
  <input  class="dynamic-menu-item-input" type="checkbox" checked data-priority="{{priority}}"/>
