<div id="dynamic-dropdown" class="hidden">
</div>
<div class="dynamic-menu-container">
  {{yield}}
</div>
<div class="dropdown-button hidden" {{action 'toggleDropdown'}}>
  <i aria-hidden="true" class={{dropdownIconClasses}}></i>
</div>
