{{#dynamic-menu itemWidth=50 dropdownButtonWidth=50 position='bottom' dropdownIconClasses='fa fa-ellipsis-h' dropdownTitle='more' enableAutoSpacing=true}}
  {{#dynamic-menu-item priority=5}}
    <div class="my-menu-item">
      1
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      2
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      3
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item}}
    <div class="my-menu-item">
      4
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      5
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      6
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item}}
    <div class="my-menu-item">
      7
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      8
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      9
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item}}
    <div class="my-menu-item">
      10
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      11
    </div>
  {{/dynamic-menu-item}}

  {{#dynamic-menu-item priority=1}}
    <div class="my-menu-item">
      12 - l
    </div>
  {{/dynamic-menu-item}}

{{/dynamic-menu}}


<h1>Hello world</h1>
